@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 250 255 253;
    --color-text: 45 39 47;
    --color-success: 66 167 20;
    --color-info: 60 145 230;
    --color-warn: 251 133 0;
    --color-error: 214 40 40;
  }

  :root[class~="dark"] {
    --color-primary: 45 39 47;
    --color-text: 250 255 253;
    --color-success: 66 167 20;
    --color-info: 60 145 230;
    --color-warn: 251 133 0;
    --color-error: 214 40 40;
  }

  h1 {
    @apply w-fit;
  }

  body {
    @apply font-primary text-text;
  }

  button {
    @apply bg-transparent border-0 shadow-none;
  }

  input,
  .custom-button,
  a.custom-button {
    @apply rounded p-2 block;
  }

  .custom-button, a.custom-button {
    @apply bg-text text-primary pt-4 px-8 shadow-xl border-b-8 border-text relative hover:bg-text/90 hover:border-primary/30 duration-300 mb-4;
  }

  .return{
    @apply  mb-6 text-2xl hover:text-gray-500 duration-300
  }

  .button--centered {
    @apply w-fit mx-auto block;
  }

  .button--green {
    @apply bg-green-500 border-green-500 hover:bg-green-500 hover:border-green-200/30;
  }

  .errors {
    @apply text-error text-xs mt-2 max-w-64 mx-auto text-center;
  }

  .box {
    @apply rounded-xl bg-gray-300/30 backdrop-blur-sm shadow-md;
    /* transition: all 0.8s;
    opacity: 0;
    transform: translateY(40px); */
  }

  /* .box.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
  } */

  .flash-message {
    @apply px-4 py-3 rounded relative;
  }

  .flash-message--success {
    @apply bg-success border-green-500 text-primary px-4 py-3 rounded relative;
  }

  /*---------------------Home-------------------------*/

  #home {
    @apply h-screen flex flex-col justify-center items-center;
  }

  #home__container {
    @apply w-fit py-10 px-20 flex flex-col gap-y-10;
  }

  #home__container__title {
    @apply flex flex-col items-center;
  }

  #home__container__title h1 {
    @apply text-5xl font-bold;
  }

  #home__container__title h2 {
    @apply text-3xl;
  }

  #home__container__form-login {
    @apply flex flex-col gap-y-4 items-center;
  }

  #home__container__form-login fieldset {
    @apply flex flex-col gap-y-2;
  }

  /*---------------------Dashboard-------------------------*/

  h1.page-title {
    @apply text-4xl font-bold mb-6;
  }

  #dashboard {
    @apply container md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-4 pt-10 md:pt-20;
  }

  #dashboard h2 {
    @apply text-2xl font-semibold mb-4 w-fit mx-auto;
  }

  #dashboard__header__text {
    @apply text-2xl capitalize mb-6;
  }

  #dashboard__content {
    @apply grid grid-cols-1 lg:grid-cols-3 gap-4 duration-300 items-start;
  }

  #dashboard__content__user,
  #dashboard__content__projects {
    @apply p-4;
  }

  #dashboard__content__user {
    @apply h-full;
  }

  #dashboard__content__projects {
    @apply lg:col-span-2 pb-10;
  }

  #dashboard__content__user__stats {
    @apply  mb-6 mx-auto table-auto border-spacing-8 w-2/3;
  }
  

  #dashboard__content__user a {
    @apply hover:border-dotted hover:border-b-2 border-text;
  }

  #dashboard__content__projects__empty{
    @apply w-fit mx-auto
  }

  #dashboard__content__projects__container{
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-4;
  }

  .dashboard__content__projects__container__item__card{
    @apply flex justify-between items-start bg-white/70 block border-2 border-gray-500 hover:border-gray-800 hover:shadow-lg rounded-xl backdrop-blur-sm p-4 duration-300;
  }

  .dashboard__content__projects__container__item__card__actions {
    @apply opacity-0 w-[20%] flex justify-end gap-1
  }

  .dashboard__content__projects__container__item__card__actions > * {
    @apply rounded p-2 bg-gray-100 shadow-sm
  }

  .dashboard__content__projects__container__item__card__actions button[data-action="update"] {
    @apply hover:text-blue-700 duration-150
  }
  .dashboard__content__projects__container__item__card__actions button[data-action="delete"] {
    @apply hover:text-red-700 duration-150 z-50
  }

  /*---------------------Todo-------------------------*/

  #todo {
    @apply container md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto pt-5 px-4;
  }

  #todo__container{
    @apply grid grid-cols-1 lg:grid-cols-4 gap-4 items-start duration-300;
  }

  #todo__header,  #todo__container__sidebar,  #todo__container__tasks > * {
    @apply p-6;
  }

  #todo__container__tasks > * {
    @apply flex flex-col space-y-4;
  }

  #todo__header {
    @apply mb-4 flex flex-col md:flex-row justify-between items-start gap-4;
  }

  #todo__header__meta__title  {
    @apply text-2xl block font-semibold mb-4 cursor-pointer;
  }

  #todo__header__meta__description{
    @apply italic block cursor-pointer;
  }

  #todo[data-new-todo] #todo__header__meta__title {
    @apply text-gray-500;
  }

  #todo__container__tasks {
    @apply lg:col-span-3 w-full grid grid-cols-1 xl:grid-cols-3 gap-2 xl:min-h-96;
  }

  #todo__container__tasks h2 {
    @apply text-xl border-b-2 block w-auto;
  }

  .todo__container__tasks__list{
    @apply flex flex-col gap-4;
  }

  .todo__container__tasks__list__item {
    @apply bg-gray-200 rounded w-full p-4 flex justify-between items-start cursor-pointer hover:shadow-sm gap-2;
  }

  .todo__container__tasks__list__item > p {
    @apply w-[70%] break-words;
  }

  .todo__container__tasks__list__item__actions {
    @apply opacity-0  duration-300 w-[20%] flex justify-end gap-1
  }

  .todo__container__tasks__list__item__actions > * {
    @apply rounded p-2 bg-gray-100 shadow-sm
  }

  .todo__container__tasks__list__item__actions button[data-action="update"] {
    @apply hover:text-blue-700 duration-150
  }
  .todo__container__tasks__list__item__actions button[data-action="delete"] {
    @apply hover:text-red-700 duration-150
  }
}
